<template name="header">
	<nav class="navbar navbar-default row" role="navigation">
		<div class="navbar-header col-md-3">
			<ul class="nav navbar-nav">
				<li>
					<a href="{{pathFor 'home'}}"><img src="/home.svg" alt="home"></a>
				</li>
				<li>
					<a href="#"><img src="/journeys.svg" alt="journeys"></a>
				</li>
				<li>
					<a href="#"><img src="/collections.svg" alt="collections"></a>
				</li>
			</ul>
		</div>
		<a class="navbar-brand col-md-2 col-md-offset-2" href="{{pathFor 'home'}}"><img src="/etaps.png" alt="etaps"></a>
		<div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
				{{#unless currentUser}}
          {{> loginButtons}}
		    {{else}}
		    	<li>
		    		<a href="{{pathFor 'profile' username=username}}" class="profile-page">
		    			{{username}}	
		    		</a>
		    	</li>
		    	<li class="dropdown">
            {{> notifications}}
          </li>
		    	<li class="dropdown">	
		    		{{> loggedInButton}}
		    	</li>	
		    {{/unless}}  
      </ul>
  	</div>
	</nav>
</template>

<template name="loggedInButton">
	{{#if loggingIn}}
		<a>Logging in...</a>
	{{else}}
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-cog"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a id="logout">Logout</a>
			</li>
		</ul>
	{{/if}}
</template>