<template name="header">
	<nav class="navbar navbar-default row">
		<div class="navbar-header col-md-3">
			<ul class="nav navbar-nav">
				<li>
					<a href="#"><img src="/home.svg" alt="home"></a>
				</li>
				<li>
					<a href="#"><img src="/journeys.svg" alt="journeys"></a>
				</li>
				<li>
					<a href="#"><img src="/collections.svg" alt="collections"></a>
				</li>
			</ul>
		</div>
		<a class="navbar-brand col-md-2 col-md-offset-2" href="{{pathFor 'home'}}"><img src="/etaps.png" alt="etaps"></a>
	</nav>
</template>