<template name="profile">
	<div class="profile">
		<div class="profile-top">
			<div class="profile-top_image">
				<img src="/pp.png" alt="Quentin">
			</div>	
			<div class="profile-name">
				<span><b>Quentin Maurice</b></span><br>
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="profile-position">Douala, Cameroun</span>
			</div>
			<div class="form-group">
          <label class="control-label" for="file">Change avatar</label>
          <div>
            <input name="file" class="input-file" type="file">
          </div>
        </div>	
		</div>
		<div class="profile-nav">
			<div class="col-md-3 tab active">
				<span>etaps</span><br>
				<span class="number">125</span>
			</div>
			<div class="col-md-3 tab">
				<span>journeys</span><br>
				<span class="number">12</span>
			</div>
			<div class="col-md-3 tab">
				<span>collections</span><br>
				<span class="number">3</span>
			</div>
			<div class="col-md-3 tab">
				<span>friends</span><br>
				<span class="number">370</span>
			</div>
		</div>
	</div>
</template>